// 提示文字颜色大小
$color-text-primary: #303133;
$color-text-regular: #606266;
$color-text-secondary: #909399;

$color-primary: #1890ff;
$color-error: #dd524d;

$background-color-primary: #DCDFE6;
$background-color-regular: #E4E7ED;
$background-color-secondary: #EBEEF5;

$f-size-sm:12px;
$f-size-sm_:13px;
$f-size-md:14px;
$f-size-lg:16px;
$f-size-xl:18px;

$shadow: 0 2px 12px 0 rgba(0,0,0,.1);
$shadow-light5: 0 2px 12px 0 rgba(0,0,0,.5);

//布局
@mixin flex-center {
  display: flex;justify-content: center;align-items: center;
}
@mixin line-1 {
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
}
@mixin line-2 {
  overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2; 
}