@font-face {
  font-family: 'iconfont';  /* Project id 3232286 */
  src: url('//at.alicdn.com/t/font_3232286_87uvniyel.eot?t=1646879062656'); /* IE9 */
  src: url('//at.alicdn.com/t/font_3232286_87uvniyel.eot?t=1646879062656#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/font_3232286_87uvniyel.woff2?t=1646879062656') format('woff2'),
       url('//at.alicdn.com/t/font_3232286_87uvniyel.woff?t=1646879062656') format('woff'),
       url('//at.alicdn.com/t/font_3232286_87uvniyel.ttf?t=1646879062656') format('truetype'),
       url('//at.alicdn.com/t/font_3232286_87uvniyel.svg?t=1646879062656#iconfont') format('svg');
}

[class*="icon--"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--love:before {
  content: "\e63f";
}

.icon--eye:before {
  content: "\e63d";
}
