@font-face {
  font-family: 'iconfont';  /* Project id 3232286 */
  src: url('//at.alicdn.com/t/font_3232286_93up9g0k6yw.eot?t=1646895144375'); /* IE9 */
  src: url('//at.alicdn.com/t/font_3232286_93up9g0k6yw.eot?t=1646895144375#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('//at.alicdn.com/t/font_3232286_93up9g0k6yw.woff2?t=1646895144375') format('woff2'),
       url('//at.alicdn.com/t/font_3232286_93up9g0k6yw.woff?t=1646895144375') format('woff'),
       url('//at.alicdn.com/t/font_3232286_93up9g0k6yw.ttf?t=1646895144375') format('truetype'),
       url('//at.alicdn.com/t/font_3232286_93up9g0k6yw.svg?t=1646895144375#iconfont') format('svg');
}

[class*="icon--"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
}

.icon--like:before {
  content: "\e645";
}

.icon--reply:before {
  content: "\e646";
}


.icon--eye:before {
  content: "\e644";
}

.icon--love:before {
  content: "\e643";
}

.icon--case:before {
  content: "\e640";
}
